body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    height: 500px;
    width: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.logo img{
    width: 70px;
}

.postcard-body{
    display: flex;
    padding: 15px;
}

.postcard-button {
    display: flex;
    justify-content: center;
}

button{
    background-color: grey;
}